* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item img {
    max-height: 450px;
}

h2 {
    margin: 50px 0;
}

header {
    background-color: rgb(250, 250, 250);
}

.card-footer button {
    margin-left: 110px;
}

.preco {
    text-decoration: line-through;
    color: #ccc;
    display: inline;
}

.card {
    margin-bottom: 32px;
}

#promocoes button {
    margin-left: 35px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding: 15px;
    background-color: rgb(250, 250, 250);
}

footer p {
    font-weight: bold;
    margin-right: 12px;
}

footer a {
    margin-right: 12px;
    text-decoration: none;
}

#contato form {
    max-width: 450px;
}

#contato h2 {
    text-align: center;
}

#contato .container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .card-footer button {
        margin-left: 50px;
    }

    .card-footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) and (min-width:530px) {
    .card button {
        margin-left: 260px;
    }

    #promocoes .card button {
        margin-left: 160px;
    }
}

@media screen and (max-width: 529px) {
    #promocoes .card-footer {
        font-size: 12px;
    }

    #promocoes .card button {
        margin-left: 20px;
    }

    .card button {
        margin-left: 10px;
    }

    footer {
        font-size: 10px;
    }
}